@{
    ViewData["Title"] = "Home Page";
}

<div class="ptf-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="0">


    <div class="ptf-section pp-scrollable" id="Home" data-anchor="Home" style=" background-image: url(&quot;IMG_7521.jpg&quot;); --ptf-background-overlay: #000000; --ptf-background-overlay-opacity: 0.4;">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="174" class="elementor elementor-174" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-1adbeaf elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1adbeaf" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9d25872" data-id="9d25872" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-91c193e elementor-widget elementor-widget-spacer" data-id="91c193e" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4ee3211 elementor-widget elementor-widget-text-editor" data-id="4ee3211" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="ptf-large-heading">مانی سعیدی</h1>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c1ec9e7 elementor-widget elementor-widget-spacer" data-id="c1ec9e7" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-6d93712 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="6d93712" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>من یک برنامه نویس هستم.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-تخصص -->

    <div class="ptf-section pp-scrollable" id="About" data-anchor="About" style=" background-image: url(wp-content/uploads/2021/04/services-bg.jpg); --ptf-background-overlay: #0f0f0f; --ptf-background-overlay-opacity: 0.7;">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="164" class="elementor elementor-164" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-70edeb9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="70edeb9" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-960ce7a" data-id="960ce7a" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-0c0ec3d elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="0c0ec3d" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                @ViewBag.AboutMe.HappyClients
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-e8da40e elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="e8da40e" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h6 class="elementor-heading-title elementor-size-default">
                                                    مشتری<br>
                                                    راضی
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-960ce7a" data-id="960ce7a" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-0c0ec3d elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="0c0ec3d" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                @ViewBag.AboutMe.Completed
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-e8da40e elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="e8da40e" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h6 class="elementor-heading-title elementor-size-default">
                                                    پروژه<br>
                                                    تکمیل<br>
                                                    شده
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-960ce7a" data-id="960ce7a" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-0c0ec3d elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="0c0ec3d" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                @ViewBag.AboutMe.Coffees
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-e8da40e elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="e8da40e" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h6 class="elementor-heading-title elementor-size-default">
                                                    فنجان<br>
                                                    قهوه
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7150532" data-id="7150532" data-element_type="column">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-915794e" data-id="915794e" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-dd6ffd5 elementor-widget elementor-widget-heading" data-id="dd6ffd5" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">
                                                   <span class="has-secondary-color">@ViewBag.AboutMe.Title</span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-f9bfccd elementor-widget elementor-widget-spacer" data-id="f9bfccd" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-d8b517c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d8b517c" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <p>@ViewBag.AboutMe.Body</p>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>

    <div class="ptf-section pp-scrollable" id="Specialist" data-anchor="Specialist" style="">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="172" class="elementor elementor-172" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-7dde44c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7dde44c" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ecaf999" data-id="ecaf999" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-299f114 elementor-widget elementor-widget-image" data-id="299f114" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img width="539" height="674" src="wp-content\uploads\2021\04\experience-img.jpg" class="attachment-full size-full" alt="" loading="lazy">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-9860301" data-id="9860301" data-element_type="column">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-283b56b" data-id="283b56b" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-f8553b3 elementor-widget elementor-widget-heading" data-id="f8553b3" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">تجارب من</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-8ca3637 elementor-widget elementor-widget-spacer" data-id="8ca3637" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3745d3c elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-text-editor" data-id="3745d3c" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ایجاد می کنیم ، ایده های خلاقانه ایجاد می کنیم</p>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-b4f7cbb elementor-widget elementor-widget-spacer" data-id="b4f7cbb" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-fb7df4f elementor-widget__width-initial elementor-widget elementor-widget-ptf-progress-bar" data-id="fb7df4f" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-progress-bar.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-progress-bar" style="--ptf-final-value: 80%;">


                                                    <h5 class="ptf-progress-bar__title">

                                                        وردپرس
                                                        <span class="counter">80</span>

                                                    </h5>


                                                    <div class="ptf-progress-bar__bar">

                                                        <span></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-215031f elementor-widget elementor-widget-spacer" data-id="215031f" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d45d1b3 elementor-widget__width-initial elementor-widget elementor-widget-ptf-progress-bar" data-id="d45d1b3" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-progress-bar.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-progress-bar" style="--ptf-final-value: 70%;">


                                                    <h5 class="ptf-progress-bar__title">

                                                        فوتوشاپ
                                                        <span class="counter">70</span>

                                                    </h5>


                                                    <div class="ptf-progress-bar__bar">

                                                        <span></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-9f66f90 elementor-widget elementor-widget-spacer" data-id="9f66f90" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c234681 elementor-widget__width-initial elementor-widget elementor-widget-ptf-progress-bar" data-id="c234681" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-progress-bar.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-progress-bar" style="--ptf-final-value: 90%;">


                                                    <h5 class="ptf-progress-bar__title">

                                                        مارکتینگ
                                                        <span class="counter">90</span>

                                                    </h5>


                                                    <div class="ptf-progress-bar__bar">

                                                        <span></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-9f66f90 elementor-widget elementor-widget-spacer" data-id="9f66f90" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c234681 elementor-widget__width-initial elementor-widget elementor-widget-ptf-progress-bar" data-id="c234681" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-progress-bar.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-progress-bar" style="--ptf-final-value: 90%;">


                                                    <h5 class="ptf-progress-bar__title">

                                                        مارکتینگ
                                                        <span class="counter">90</span>

                                                    </h5>


                                                    <div class="ptf-progress-bar__bar">

                                                        <span></span>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-تحصیلات -->


    <div class="ptf-section pp-scrollable" id="Documents" data-anchor="Documents" style=" background-image: url(/wwwroot/IMG_7521.JPG); --ptf-background-overlay: #000000; --ptf-background-overlay-opacity: 0.4;">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="169" class="elementor elementor-169" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-e7609b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e7609b6" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9e6f517" data-id="9e6f517" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-49c3d1a elementor-widget elementor-widget-heading" data-id="49c3d1a" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">تحصیلات</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fc8a9b0" data-id="fc8a9b0" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-2893aa4 elementor-widget elementor-widget-ptf-button" data-id="2893aa4" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-button.default">
                                            <div class="elementor-widget-container">

                                                <a class="ptf-btn ptf-btn--primary" role="button" href="#">

                                                    دانلود رزومه
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-bf0cfee elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bf0cfee" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b78e3a8" data-id="b78e3a8" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-ffff11c elementor-widget elementor-widget-spacer" data-id="ffff11c" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-20065dc elementor-widget elementor-widget-ptf-timeline-slider" data-id="20065dc" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-timeline-slider.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-timeline-slider" data-navigation-anchor=".ptf-education-controls">

                                                    <div class="swiper-container">

                                                        <div class="swiper-wrapper">

                                                            <div class="swiper-slide"><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="60" height="61" src="wp-content\uploads\2021\04\education-img-1.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">طراح رابط و تجربه کاربری</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ، خلاقیت ایجاد می شود.</p></div></div></div></div><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="52" height="52" src="wp-content\uploads\2021\04\education-img-2.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">طراح گرافیک</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>حکومت نهنگ های تحمل. جمع ایجاد شده مبارک ، شبیه ششم مرد. بیش از مواردی که شما خواهید ساخت اره ساخته شده در بالا خواهید بود.</p></div></div></div></div><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="42" height="43" src="wp-content\uploads\2021\04\education-img-3.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">مدیر مارکتینگ</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>شركت خودش حاكم بر عصر آنها است ، كه شبها را چنان تحريك كرد كه گاوهايي را كه حمل مي كردند تحمل مي كردند.</p></div></div></div></div></div><div class="swiper-slide"><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="60" height="61" src="wp-content\uploads\2021\04\education-img-1.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">طراح رابط کاربری و تجربه کاربری</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ، خلاقیت ایجاد می شود.</p></div></div></div></div><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="52" height="52" src="wp-content\uploads\2021\04\education-img-2.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">طراح گرافیک</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>حکومت نهنگ های تحمل. جمع ایجاد شده مبارک ، شبیه ششم مرد. بیش از مواردی که شما خواهید ساخت اره ساخته شده در بالا خواهید بود.</p></div></div></div></div><div class="ptf-timeline-item"><div class="row"><div class="col-lg-1"><img width="42" height="43" src="wp-content\uploads\2021\04\education-img-3.png" class="attachment-full size-full" alt="" loading="lazy"></div><div class="col-lg-3"><div class="ptf-timeline-item__date h4">1399 - 1400</div></div><div class="col-lg-4"><h4 class="ptf-timeline-item__title">مدیر مارکتینگ</h4></div><div class="col-lg-4"><div class="ptf-timeline-item__text"><p>شركت خودش حاكم بر عصر آنها است ، كه شبها را چنان تحريك كرد كه گاوهايي را كه حمل مي كردند تحمل مي كردند.</p></div></div></div></div></div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-35fff42 elementor-widget elementor-widget-spacer" data-id="35fff42" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-f086c03 ptf-education-controls elementor-widget elementor-widget-ptf-slider-controls" data-id="f086c03" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-slider-controls.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-slider-controls">

                                                    <div class="ptf-swiper-button-prev">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path fill="currentColor" d="M16.55 36.713l2.016-2.016L5.543 21.675l33.886.433-.037-2.88-33.885-.433L18.2 6.1l-2.07-2.067L0 20.163l16.55 16.55z"></path></svg>

                                                    </div>

                                                    <div class="ptf-swiper-button-next">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path fill="currentColor" d="M24.301 4.137l-2.016 2.017 13.022 13.022-33.885-.434.036 2.88 33.886.434-12.693 12.693 2.069 2.069 16.13-16.131-16.549-16.55z"></path></svg>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-نمونه کار -->


    <div class="ptf-section pp-scrollable" data-anchor="Projects" style="">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="167" class="elementor elementor-167" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-486f980 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="486f980" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e77f0e6" data-id="e77f0e6" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-ea4d088 elementor-widget elementor-widget-ptf-portfolio-marquee" data-id="ea4d088" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-portfolio-marquee.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-portfolio-marquee has-stopable">

                                                    <div class="ptf-portfolio-marquee__original">


                                                        <article class="ptf-project post-56 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">کپنهگان</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\copenhagen\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-3.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-3.jpg 1920w, wp-content\uploads\2021\04\ptf-3-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-3-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-3-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-3-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-3-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-3-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                        <article class="ptf-project post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">بالنسیاگا</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\balenciaga\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-1.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-1.jpg 1920w, wp-content\uploads\2021\04\ptf-1-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-1-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-1-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-1-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-1-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-1-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                        <article class="ptf-project post-54 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">اسکیت بورد</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\skateboard\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-2.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-2.jpg 1920w, wp-content\uploads\2021\04\ptf-2-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-2-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-2-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-2-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-2-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-2-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                    </div>

                                                    <div class="ptf-portfolio-marquee__copy">


                                                        <article class="ptf-project post-56 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">کپنهگان</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\copenhagen\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-3.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-3.jpg 1920w, wp-content\uploads\2021\04\ptf-3-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-3-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-3-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-3-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-3-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-3-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                        <article class="ptf-project post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">بالنسیاگا</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\balenciaga\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-1.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-1.jpg 1920w, wp-content\uploads\2021\04\ptf-1-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-1-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-1-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-1-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-1-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-1-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                        <article class="ptf-project post-54 portfolio type-portfolio status-publish has-post-thumbnail hentry">

                                                            <h3 class="ptf-project-title">اسکیت بورد</h3>


                                                            <div class="ptf-project-hover">

                                                                <a href="portfolio\skateboard\index.htm">

                                                                    <img width="1920" height="1080" src="wp-content\uploads\2021\04\ptf-2.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="wp-content\uploads\2021\04\ptf-2.jpg 1920w, wp-content\uploads\2021\04\ptf-2-300x169.jpg 300w, wp-content\uploads\2021\04\ptf-2-1024x576.jpg 1024w, wp-content\uploads\2021\04\ptf-2-768x432.jpg 768w, wp-content\uploads\2021\04\ptf-2-1536x864.jpg 1536w, wp-content\uploads\2021\04\ptf-2-991x557.jpg 991w, wp-content\uploads\2021\04\ptf-2-1280x720.jpg 1280w" sizes="(max-width: 1920px) 100vw, 1920px">
                                                                </a>

                                                            </div>


                                                        </article>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-section -->



    <div class="ptf-section pp-scrollable" data-anchor="Testimonials" style=" background-image: url(wp-content/uploads/2021/04/reviews-bg.jpg);">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="161" class="elementor elementor-161" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-558d646 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="558d646" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-af8bb04" data-id="af8bb04" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-d2a9331 elementor-widget elementor-widget-heading" data-id="d2a9331" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">موارد خلاقانه مواردی است که استودیو ما به ارمغان می آورد.</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-b71c9fb elementor-widget elementor-widget-spacer" data-id="b71c9fb" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-29b2701" data-id="29b2701" data-element_type="column">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-aaa12ca elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="aaa12ca" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-26c6f74" data-id="26c6f74" data-element_type="column">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-7c050fe" data-id="7c050fe" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-1d31f6e elementor-widget__width-auto elementor-absolute elementor-widget elementor-widget-image" data-id="1d31f6e" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img width="85" height="76" src="wp-content\uploads\2021\04\quote-1.png" class="attachment-full size-full" alt="" loading="lazy">
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-eb0e5c5 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-ptf-testimonial-slider" data-id="eb0e5c5" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-testimonial-slider.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-testimonial-slider" data-navigation-anchor=".ptf-testimonials-anchor">

                                                    <div class="swiper-container">

                                                        <div class="swiper-wrapper">

                                                            <div class="swiper-slide"><div class="ptf-testimonial"><div class="ptf-testimonial__text"><p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ایجاد می کنیم ، ایده های خلاقانه ای را تولید می کنیم که مشتریان ما از نظر آنها محصولات با ارزشی دارند.</p></div><div class="ptf-testimonial__meta"><h5 class="ptf-testimonial__name">مائده پروی</h5><div class="ptf-testimonial__function">شرکت خلاق بازار  1</div></div></div></div><div class="swiper-slide"><div class="ptf-testimonial"><div class="ptf-testimonial__text"><p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ایجاد می کنیم ، ایده های خلاقانه ای را تولید می کنیم که مشتریان ما از نظر آنها محصولات با ارزشی دارند.</p></div><div class="ptf-testimonial__meta"><h5 class="ptf-testimonial__name">کاترین ویزلی</h5><div class="ptf-testimonial__function">شرکت خلاق بازار 2</div></div></div></div><div class="swiper-slide"><div class="ptf-testimonial"><div class="ptf-testimonial__text"><p>ما محصولات مشتریان خود را از نظر مشتریان ارزشمند می کنیم. برای این کار ، ما افراد را تجزیه و تحلیل و مطالعه می کنیم ، استراتژی های طولانی مدت برای تعامل با آنها ایجاد می کنیم ، ایده های خلاقانه ای را تولید می کنیم که مشتریان ما از نظر آنها محصولات با ارزشی دارند.</p></div><div class="ptf-testimonial__meta"><h5 class="ptf-testimonial__name">گیبل کروزبی</h5><div class="ptf-testimonial__function">شرکت خلاق بازار 3</div></div></div></div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3c8c356 elementor-widget elementor-widget-spacer" data-id="3c8c356" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-467b8fa ptf-testimonials-anchor elementor-widget elementor-widget-ptf-slider-controls" data-id="467b8fa" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-slider-controls.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-slider-controls">

                                                    <div class="ptf-swiper-button-prev">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path fill="currentColor" d="M16.55 36.713l2.016-2.016L5.543 21.675l33.886.433-.037-2.88-33.885-.433L18.2 6.1l-2.07-2.067L0 20.163l16.55 16.55z"></path></svg>

                                                    </div>

                                                    <div class="ptf-swiper-button-next">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path fill="currentColor" d="M24.301 4.137l-2.016 2.017 13.022 13.022-33.885-.434.036 2.88 33.886.434-12.693 12.693 2.069 2.069 16.13-16.131-16.549-16.55z"></path></svg>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-section -->


    <div class="ptf-section pp-scrollable" data-anchor="News" style="">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="159" class="elementor elementor-159" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-c16e32e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c16e32e" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-888512e" data-id="888512e" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-6562305 elementor-widget elementor-widget-heading" data-id="6562305" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">آخرین اخبار</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-edaa8c0 elementor-widget elementor-widget-spacer" data-id="edaa8c0" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-00d126b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="00d126b" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f082bde" data-id="f082bde" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-27bf1b3 elementor-widget elementor-widget-ptf-single-post" data-id="27bf1b3" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-single-post.default">
                                            <div class="elementor-widget-container">



                                                <article class="ptf-post ptf-post--masonry post-62 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-follow tag-photography tag-like">


                                                    <div class="ptf-post-media">

                                                        <img width="991" height="826" src="wp-content\uploads\2021\04\blog-1-991x826.jpg" class="attachment-sambailey-991x826_crop size-sambailey-991x826_crop wp-post-image" alt="" loading="lazy">
                                                    </div>
                                                    <!-- /.ptf-post-thumbnail -->


                                                    <div class="ptf-post-content">

                                                        <header class="ptf-post-header">

                                                            <div class="ptf-post-meta">

                                                                <span><time datetime="2021-04-27T12:52:54+04:30">07 اردیبهشت 1400</time></span>


                                                                <span><a href="category\photography\index.htm">عکاسی</a></span>


                                                            </div>
                                                            <!-- /.ptf-post-meta -->
                                                            <h3 class="ptf-post-title">
                                                                <a href="how-to-take-pictures-correctly\index.htm">چگونه بهترین عکسها را بگیریم</a>
                                                            </h3>
                                                            <!-- /.ptf-post-title -->
                                                        </header>
                                                        <!-- /.ptf-post-header -->

                                                    </div>
                                                    <!-- /.ptf-post-content -->

                                                </article>
                                                <!-- /.ptf-post -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-90c412c" data-id="90c412c" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-e74c8d2 elementor-widget elementor-widget-ptf-single-post" data-id="e74c8d2" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-single-post.default">
                                            <div class="elementor-widget-container">



                                                <article class="ptf-post ptf-post--masonry post-63 post type-post status-publish format-standard has-post-thumbnail hentry category-journal tag-follow tag-photography tag-like">


                                                    <div class="ptf-post-media">

                                                        <img width="991" height="826" src="wp-content\uploads\2021\04\blog-2-991x826.jpg" class="attachment-sambailey-991x826_crop size-sambailey-991x826_crop wp-post-image" alt="" loading="lazy">
                                                    </div>
                                                    <!-- /.ptf-post-thumbnail -->


                                                    <div class="ptf-post-content">

                                                        <header class="ptf-post-header">

                                                            <div class="ptf-post-meta">

                                                                <span><time datetime="2021-04-27T12:52:32+04:30">07 اردیبهشت 1400</time></span>


                                                                <span><a href="category\journal\index.htm">ژورنال</a></span>


                                                            </div>
                                                            <!-- /.ptf-post-meta -->
                                                            <h3 class="ptf-post-title">
                                                                <a href="dostoevskiy-memorie\index.htm">یادداشت داستایوسکی</a>
                                                            </h3>
                                                            <!-- /.ptf-post-title -->
                                                        </header>
                                                        <!-- /.ptf-post-header -->

                                                    </div>
                                                    <!-- /.ptf-post-content -->

                                                </article>
                                                <!-- /.ptf-post -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f31f192" data-id="f31f192" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-f3cd232 elementor-widget elementor-widget-ptf-single-post" data-id="f3cd232" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-single-post.default">
                                            <div class="elementor-widget-container">



                                                <article class="ptf-post ptf-post--masonry post-64 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-follow tag-photography tag-like">


                                                    <div class="ptf-post-media">

                                                        <img width="991" height="826" src="wp-content\uploads\2021\04\blog-3-991x826.jpg" class="attachment-sambailey-991x826_crop size-sambailey-991x826_crop wp-post-image" alt="" loading="lazy">
                                                    </div>
                                                    <!-- /.ptf-post-thumbnail -->


                                                    <div class="ptf-post-content">

                                                        <header class="ptf-post-header">

                                                            <div class="ptf-post-meta">

                                                                <span><time datetime="2021-04-27T12:45:16+04:30">07 اردیبهشت 1400</time></span>


                                                                <span><a href="category\photography\index.htm">عکاسی</a></span>


                                                            </div>
                                                            <!-- /.ptf-post-meta -->
                                                            <h3 class="ptf-post-title">
                                                                <a href="elegant-womens-clothing\index.htm">لباس زنانه زیبا</a>
                                                            </h3>
                                                            <!-- /.ptf-post-title -->
                                                        </header>
                                                        <!-- /.ptf-post-header -->

                                                    </div>
                                                    <!-- /.ptf-post-content -->

                                                </article>
                                                <!-- /.ptf-post -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-section -->


    <div class="ptf-section pp-scrollable" data-anchor="Contact" style=" background-image: url(wp-content/uploads/2021/04/contact-bg.jpg); --ptf-background-overlay: #000000; --ptf-background-overlay-opacity: 0.4;">

        <div class="ptf-section__content">

            <div class="container p-0" style="margin-top:10%; margin-bottom: 10%;">

                <div data-elementor-type="wp-post" data-elementor-id="156" class="elementor elementor-156" data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-ba08873 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ba08873" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4cdc853" data-id="4cdc853" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-a4e9116 elementor-widget elementor-widget-heading" data-id="a4e9116" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">با ما در تماس باشید</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-1a831c5 elementor-widget elementor-widget-spacer" data-id="1a831c5" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3293d1d elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-text-editor" data-id="3293d1d" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p>شما خواهان بازدهی مردانه هستید ، بنابراین چراغهای ستارگان به طور فراوان از آنها است.</p>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-bc1b32b elementor-widget elementor-widget-spacer" data-id="bc1b32b" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-900900b elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-ptf-partners" data-id="900900b" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-partners.default">
                                            <div class="elementor-widget-container">

                                                <ul class="ptf-partners">


                                                    <li>

                                                        <img width="89" height="65" src="wp-content\uploads\2021\04\contact-logo-1.png" class="attachment-full size-full" alt="" loading="lazy">
                                                    </li>


                                                    <li>

                                                        <img width="108" height="65" src="wp-content\uploads\2021\04\contact-logo-2.png" class="attachment-full size-full" alt="" loading="lazy">
                                                    </li>


                                                    <li>

                                                        <img width="127" height="72" src="wp-content\uploads\2021\04\contact-logo-3.png" class="attachment-full size-full" alt="" loading="lazy">
                                                    </li>


                                                    <li>

                                                        <img width="104" height="70" src="wp-content\uploads\2021\04\contact-logo-4.png" class="attachment-full size-full" alt="" loading="lazy">
                                                    </li>


                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7d80611" data-id="7d80611" data-element_type="column">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-96cef54" data-id="96cef54" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-be92d83 elementor-widget elementor-widget-text-editor" data-id="be92d83" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <p><a href="mailto:sambailey@info.com">sambailey@info.com</a></p>
                                                <p class="m-0"><a href="tel:+23254523235">+2 325 452 32 35</a></p>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-00a19eb elementor-widget elementor-widget-spacer" data-id="00a19eb" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-8036468 elementor-widget elementor-widget-ptf-contact-form-7" data-id="8036468" data-element_type="widget" data-settings="{&quot;ptf_animated_widget_animation&quot;:&quot;none&quot;}" data-widget_type="ptf-contact-form-7.default">
                                            <div class="elementor-widget-container">

                                                <div class="ptf-contact-form-7">

                                                    <div role="form" class="wpcf7" id="wpcf7-f190-o1" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                        <form action="/sambailey/#wpcf7-f190-o1" method="post" class="wpcf7-form init demo" novalidate="novalidate" data-status="init">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="190">
                                                                <input type="hidden" name="_wpcf7_version" value="5.4.1">
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f190-o1">
                                                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                                            </div>
                                                            <div class="ptf-form-group">
                                                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ptf-form-control" aria-required="true" aria-invalid="false"></span>
                                                                <label class="ptf-form-label">نام</label>
                                                            </div>
                                                            <div class="ptf-form-group">
                                                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email ptf-form-control" aria-required="true" aria-invalid="false"></span>
                                                                <label class="ptf-form-label">ایمیل</label>
                                                            </div>
                                                            <div class="ptf-form-group">
                                                                <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="3" class="wpcf7-form-control wpcf7-textarea ptf-form-control" aria-invalid="false"></textarea></span>
                                                                <label class="ptf-form-label">پیام</label>
                                                            </div>
                                                            <button class="ptf-btn ptf-btn--primary">ارسال</button><div class="wpcf7-response-output" aria-hidden="true"></div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.ptf-section__content -->

    </div>
    <!-- /.ptf-section -->

    <div class="ptf-fullpage-slider-progress-bar"><span></span></div>
</div>
@section Scripts{
    
}